@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;400;700&family=Playfair+Display+SC:wght@400;700&display=swap');

html,
body {
  color: #0f0e0e;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
    --dark-magenta: #861388ff;
    --lapis-lazuli: #3e6990ff;
    --papaya-whip: #f9ecccff;
    --verdigris: #17bebbff;
    --icterine: #fffd82ff;
}


h1, 
h2, 
h3, 
h4 {
    font-family: 'Playfair Display';
}
.navbar {
    /* border: 2px solid red; */
}

footer h3 {
    /* border: 2px solid red; */
    color: var(--lapis-lazuli);
}

h4 {
    color: var(--verdigris)
}

/* article p {
    border: 2px solid red;
} */


ul {
    /* border: 2px solid red; */
    list-style-type: none;
    /* text-align: center; */
}


.contact-container {
    /* border: 2px solid red; */
    border-bottom: 1px solid var(--icterine);
    width: 700px;
    margin: 0 auto;
}

footer img {
    /* border: 2px solid red; */
    padding-left: 35px;
    padding-right: 35px;
    height: 35px;
}

footer li {
    /* border: 2px solid red; */
    display: inline-block;
}

/* footer li:hover {
    transform: scale(1.2);  
    cursor: pointer;
} */

/* Animations */
.jello-horizontal {
	-webkit-animation: jello-horizontal 0.5s both;
	        animation: jello-horizontal 0.5s both;
}
@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  
  