
body {
  color: #0f0e0e;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://m.media-amazon.com/images/I/51wqTuhr3+L._AC_SX679_.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} 

a {
  text-decoration: none;
}

.navbar {
  /* box-shadow: 2px 2px 7px 1px #CE5937; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 8px 50px 8px 40px;
  /* background-color: rgba(255, 255, 255, 0.484); */
  color: rgba(0, 0, 0, 0.68);
}

.title {
  font-size: 24px;
}

.links-container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 7px;
  font-size: 18px;
}

.link {
  /* border: 2px solid red; */
  text-align: right;
  
  
}

.buttons-forms-container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.buttons-forms-container button {
  margin: 4px;
}

.box {
  /* border: 2px solid red; */
  display: block;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  width: 50%;
  color: rgb(253, 251, 237);
}

.keyword-form {
  /* border: 2px solid red; */
  padding: 15px;
}

.hidden {
  display: none;
}

.joke-container {
  margin: 0 auto;
  background-color: rgba(230, 230, 230, 0.456);
  font-size: 22px;
  box-shadow: 2px 2px 7px 1px #f2f2f2;
}


#make-me-laugh-button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.keyword-form label {
  font-weight: bold;
}

@media(max-width: 768px){
  .buttons-forms-container button {

  }
}