
body {
  color: #0f0e0e;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://m.media-amazon.com/images/I/51wqTuhr3+L._AC_SX679_.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} 

button {
  background-color: rgba(255, 252, 193, 0.672);
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  box-sizing: border-box;
  border: 0;
  font-size: 14px;
}

button:hover{
  background: #fff308be;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

h3 {
  color: rgb(224, 117, 41);
  text-shadow: -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px  1px 0 #000,
  1px  1px 0 #000;
}

.first-h3 {
  color: rgb(255, 255, 255);
}

h1 {
  text-align: left;
  color: rgb(255, 255, 255);
}

main p {
  color: rgb(254, 250, 4);
  font-size: 26px;
}

.keyword-form label {
  color: rgb(253, 250, 74);
  font-weight: bold;
  font-size: 18px;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 8px 50px 8px 40px;
  background-color: rgba(0, 0, 0, 0.852);
  border-radius: 4px;
}

.title {
  font-size: 20px;
  text-align: right;
}

.links-container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 14px;
  font-size: 16px;
  text-align: right;
  width: 50%;
  justify-self: end;
}

.link {
  color: rgb(196, 196, 196);
  text-decoration: none;
  font-size: 19px;
  background-color: rgba(180, 180, 180, 0.142);
  border-radius: 5px;
  padding: 5px;
}

.link:hover {
  color: yellow;
}

.buttons-forms-container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.buttons-forms-container button {
  margin: 4px;
}

.box {
  /* border: 2px solid red; */
  display: block;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  width: 50%;
  color: rgb(253, 251, 237);
}

.keyword-form {
  /* border: 2px solid red; */
  padding: 15px;
}

.hidden {
  display: none;
}

.joke-container {
  margin: 0 auto;
  background-color: rgba(115, 114, 114, 0.583);
  font-size: 22px;
  box-shadow: 0 -3px 7px 3px rgb(222, 219, 83);
}


#make-me-laugh-button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.keyword-form label {
  font-weight: bold;
  color: rgb(224, 117, 41);
  text-shadow: -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px  1px 0 #000,
  1px  1px 0 #000;
}


@media(max-width: 900px){
  h1 {
    font-size: 25px;
  }
  button {
    width: 100%;
  }
  h1 {
    text-align: center;
    color: rgb(252, 200, 218);
  }
  
  .links-container {
    display: flex;
    justify-content: center; 
    min-width: 70%;
    width: 100%;
    background-color: #0000007e;
  }
  .navbar {
    display: block;
    align-items: center;
    padding: none;
    color: rgba(255, 157, 157, 0.807);
    background-color: #00000000;
  } 
  
  .link {
    color: rgb(232, 230, 254);
    text-decoration: none;
    font-size: 18px;
  }
  .box {
    width: 60%;
  }
  .joke-container {
    background-color: rgba(88, 84, 84, 0.645);
    box-shadow: 0 -3px 7px 3px rgb(213, 209, 209);
  }
  .joke-container button {
    margin-bottom: 5px;
  }

  .joke-container {
    width: 85%;
  }
}
