html,
body {
  color: #0f0e0e;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
} 
.navbar {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 20px;
  background-color: rgb(194, 253, 194);
  color: darkcyan;
}

.links-container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 18px;
}

.link {
  /* border: 2px solid red; */
  text-align: center;
}

.box {
  /* border: 2px solid red; */
  display: block;
  text-align: center;
  padding: 15px;
  margin: 20px;

}
.or-container {
  /* border: 2px solid red; */
  padding-top: 0px;
  padding-bottom: 0px;
  width: 24px;
  margin: 0 auto;
}
.hidden {
  display: none;
}

.joke-container {
  border: 2px solid gray;
  width: 700px;
  margin: 0 auto;
  background-color: rgba(255, 255, 109, 0.781);
  border-radius: 12px;
  font-size: 22px;
}

.category-form label {
  /* border: 2px solid red; */
  margin: 10px;
}

#make-me-laugh-button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}